.Navbar{
  text-align: right;
  background-color: #282c34;
  width: 100%;
}
  .Navbar .active{
    color: brown;
  }
  .Navbar li{
    max-width: 100vw;
    padding: 20px 10px;
    display: inline-block; 
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 10px 5px;
  }
  
  .nav-bar-link{
    color: #4edf3b;
    text-decoration: none;
  }
 